* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #FBFF00;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container {
    height: 100vh;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

button {
    padding: 1rem;
    border-radius: 5px;
    background-color: #49FF00;
    margin-left: 0.5rem;
    cursor: pointer;
}